<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="utf-8">

    <title>
      raffle
    </title>
    <style>

      * {
        font-family: monospace;
        font-size: 12pt;
      }

      table, tr, td {
        border:1px solid black;
      }
      td {
        padding: 10px;
      }

      h1 {
        font-size:40pt;

      }
    </style>
  </head>
  <body>
    <center>
    <h1>{{ name }}</h1>
  </center>
  </body>

</html>
